/*body{
    background: #31B404;
}
#imagen{
    margin: 0 auto;
    border: 200px;
}
.jumbotron{
    background: #31B404;
    padding: 20px;
}
.navbar{
    background: #31B404;
}
.navbar-header{
    background: #000000;
}
.collapse{
    background: #2ECCFA;
}*/